<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" id="theme-stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" 
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <title>Web-based mobile app development course work 2</title>
</head>
<body>
    <div id="eLearingApp">
        <header class="header fixed-top">
            <nav class="navbar navbar-expand-lg navbar-dark py-4 shadow-sm bg-info" style=" height: 80px;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand text-light" href="#"><img src="images/logo.png" alt="" width="120" height="120"></a>
                    </div>

                    <div class="p-3 shadow-sm index-forward border-top" id="search">
                        <form class="navbar-form navbar-left">
                            <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="search" v-model="search">
                            </div>
                        </form>
                    </div>

                </div>
            </nav>
            <nav class="navbar navbar-expand-lg navbar-dark py-0 shadow-sm bg-dark" style="height: 45px ;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <!--<a class="navbar-brand text-dark" href="#">E-Learning</a>-->
                        <select v-model="sortBy" align="left">
                            <option disabled value="">Sort by</option>
                            <option value="price">Price</option>
                            <option value="location">Location</option>
                            <option value="subject">Subject</option>
                            <option value="space">Availability</option>
                        </select>

                        <select v-model="orderBy" align="left">
                            <option disabled value=""><i class="fa-solid fa-arrow-up-a-z"></i>Order in</option>
                            <option value="ascending">Ascending</option>
                            <option value="descending">Descending</option>
                        </select><br />
                    </div>
                
                <ul class="nav navbar-nav">
                    <!-- if the item in the cart is more than 0 the button is enabled and clickable-->
                    <li v-if="this.cart.length > 0">
                        <!-- when clicked on displays the cart item -->
                        <button v-on:click="togglePage" class="btn-light">
                            <!--showing the number of lessons being added to cart-->
                            {{cartItemCount}} 
                        <i class="fa-solid fa-cart-shopping"></i>  Cart
                        </button>
                    </li>
                    <li v-else>
                        <!-- if the item in the cart is less than 0 the button is disabled-->
                        <button disabled="true" class="btn-light">
                        <i class="fa-solid fa-cart-shopping"></i>  Cart
                        </button>
                    </li>
                </ul>
                </div>
            </nav>
        </header>
          <br><br><br><br><br><br>
        <main class="container" style="text-align:center;">
            <!--if home page is true -->
                <div class="row classes" v-if="HomePage">
                    <!-- to call classes.js-->
                    <div class="card ml-2" style="width:270px;" v-for="lecture in classes" :key="lecture.id">
                        <img v-bind:src="baseURL + '/' + lecture.image" style="width:268px; height:200px;" >
                        <div class="card-body">
                            <i v-bind:class="lecture.fontAwesomeIcon" class="fa-3x"></i><br />
                            <h4 align="left">Subject: <b v-text="lecture.subject"></b></h4>
                            <p align="left">Location: <b v-text="lecture.location"></b></p>
                            <p align="left">Price: <b class="price">£{{ lecture.price }}</b></p>
                            <p align="left">Spaces: <b v-text="lecture.spaces"></b></p><!--the number of spaces reduces when an item is added to cart-->
                            <span class="message"
                                v-if="lecture.spaces === 0">      
                                Fully booked!
                            </span>
                            <span class="message"
                                v-else>Book a lesson with us today!
                            </span>
                        
                        </div>

                        <!-- adding the add to cart button-->
                        <!--if there is still any space available button is enabled -->
                        <button type="button" class="btn btn-info text-light btn-lg" v-on:click="addToCart(lecture)" v-if="canAddToCart(lecture)">
                            Add to cart
                        </button>

                        <!--if the number of spaces is = 0 the button is disabled -->
                        <button disabled="true" class="btn btn-secondary btn-lg" v-else>
                            Add to cart
                        </button>
                        <br>   
                    </div> 
                </div>
   

            <!--if home page is false toggle's to checkout page-->
            <div class="row classes" v-else>
                <!-- to call classes.js-->
                <div class="card" style="width:270px;" v-for="lecture in cart">
                    <img v-bind:src="baseURL + '/' + lecture.lecture.image" style="width:268px; height:200px;">
                    <div class="card-body">
                        <i v-bind:class="lecture.lecture.fontAwesomeIcon" class="fa-3x"></i><br />
                        <h4 align="left">Subject: <b v-text="lecture.lecture.subject"></b></h4>
                        <p align="left">Location: <b v-text="lecture.lecture.location"></b></p>
                        <p align="left">Item in cart: <b v-text="lecture.spaces"></b></p>
                        <p align="left">Price: <b class="price">£{{ lecture.lecture.price }}</b></p>
                    </div>

                    <!-- to call the removeFromCart() method which would remove the items from the cart when the button is clicked on-->
                    <button class="btn btn-secondary btn-lg" v-on:click="removeFromCart(lecture.lessonId)">
                        Remove from cart
                    </button>  
                </div>
            <br /><br /><br /><br />
                <div style="text-align: center; padding-left: 20px; padding-right: 20px; padding-top: 100px;" class="checkout">
                    <div class="form-group">
                        <div class="card bg-dark text-light" style="width: 1050px;">
                            <h2>
                                <strong>CHECK OUT</strong>
                            </h2>
                        </div>
                    </div>
                    <form @submit.prevent>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Name:</strong></div>
                                <input v-model.trim="name" class="form-control" id="name" name="name" type="text" placeholder="Bxxxxxxx Exxxxxxx" v-on:keypress="isLetter($event)"/>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Phone Number:</strong></div>
                                <input v-model="phoneNumber" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="+44 xxxxxxxxxx" v-on:keypress="isNumber($event)"/>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-info submit" :disabled="!disabled.every(i => i === false)" v-on:click="orderMessage">
                                    Place Order
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </main>
    </div>

    <script src="js/main.js"></script>
</body>
</html>
